{% extends 'dianoga_app/base.html' %}

{% load static %}

{% block content %}

    <h1 class="display-4 text-center">Welcome to Dianoga's Trash Handler</h1>

    <div class="container-fluid">
        <h2>Purpose</h2>
        <p class="lead">
        Our team's purpose is to create a mobile application that raises awareness of recycling and detects
        materials using artificial intelligence.
        We want to help users improve their recycling habits.
        In order to create a successful application, we need pictures of recyclable/non-recyclable items.
        </p>
    </div>

    <div class="container-fluid">
        <h2>How to Participate</h2>
        <p class="lead">If want to participate, please go the Data Collection link in the menu above.<p>
        <p class="lead">We have progress bars to show how close we are to our goals. Please try to upload images
            in the categories where we are furthest from our goal. Don't forget to select the category label
            from the dropdown menu before submitting.<p>
    </div>

    <h3 class="text-center"> Thank You!!!</h3>

{% endblock %}